.block-header{
	padding: .8rem 1.25rem;
}
#SPApp .block-content{
	min-height: 500px;
	position: relative;
}

.block-header{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
   -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}
.block-header .block-header-left{
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-direction: row;
      flex-direction: row;
    -ms-flex-align: center;
      align-items: center;
}
.block-header .block-header-left .custom-title{
	font-size: 1.125rem;
	color: #000;
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-direction: row;
      flex-direction: row;
    -ms-flex-align: center !important;
      align-items: center !important;
}
.custom-title::before{
	content:"";
	display: inline-block;
	width: 3px;
	height: 16px;
	background-color: #5fa9e5;
	margin-right: 5px;
	margin-top: .1rem;
}
.block-header .block-header-right{
	
}
.table-container{
	padding: 1.25rem;
}
.table-container::after{
	content:"";
	display: block;
	height:6.4rem;
}
#group_table.table thead th{
	font-weight: normal;
	font-size: 1rem;
	color: #000;
}
#group_table tbody tr:nth-child(even){
	background-color: #f7fbfe;
}
.icon-btn{
	background-color: transparent;
	border: none;
	font-size: 1.2rem;
	color: #aaa;
	cursor: pointer;
}
.icon-btn:hover{
	color: #5fa9e5;
}
.row.list-footer{
	width: 100%;
	position: absolute;
	margin: 0;
	bottom: 0;
}

.content-row{
	margin: 1rem 0;
	padding-left: 1rem;
	padding-right: 2rem;
}
.content-row::after{
	display:block; 
	content:"clear"; 
	height:0; 
	clear:both; 
	overflow:hidden; 
	visibility:hidden;
}
.content-row .content-label{
	float: left;
	width: 9rem;
	height: calc(2.25rem + 2px);
	line-height: 2.25rem;
	text-align: right;
}
.content-row .content-input{
	margin-left: 10rem;
	margin-right: 10rem;
}
.content-row .content-height-full{
	height: 100%;
}
.line-height-md{
	height: calc(2.25rem + 2px);
	line-height: 2.25rem;
}
.custom-control-label{
	cursor: pointer;
}
#block_2 .block-header{
	border-bottom: 1px solid #ebebeb;
}
#history_record{
  padding: 0 1.5rem;	
}
#history_record::after {
    content: "";
    display: block;
    height: 6.4rem;
}
.notcie-record{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
      flex-direction: row;
    -ms-flex-align: center;
      align-items: center;
   width: 100%;
   padding: 1rem 1rem;
   border-bottom: 1px solid #ebebeb;
}
.notcie-record .notice-time{
	font-size: .95rem;
	color:#aaa;
	margin-bottom: .5rem;
}
.notcie-record .notice-time-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    cursor: pointer;
}
.notice-time-content:hover{
	color: #5fa9e5;
}
#notice_detail{
	margin: 1rem 1rem 2rem 1rem;
	padding: 1rem;
	background-color: #f7f7f7;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	min-height: 300px;
}