.bgImage{
    height:2.133333rem;
}
.Contact{
    padding: .693333rem .466667rem 1.04rem .466667rem;
}
.contentTitle{
    font-size: 16px;
}
.contentTitle>.icon{
    border-left:4px solid #1f9afd;
    padding-left: .16rem;
    
}
.contentTitle>.form{
    font-size:13px;
    margin-top:.8rem;
}
.contentTitle>.form>.userInfo{
	position:relative;

}
.contentTitle>.form>.userInfo>.userName{
    font-size:15px;
    color:#666666;
}
.contentTitle>.form>.userInfo>.userName>.tag{
    color:#fe0f03;
    margin-right:.106667rem;
}
.contentTitle>.form>.userInfo>.userInput{
    margin-top:.293333rem;
    height:1.093333rem;
    border:none;
    background-color: #f7f7f7;
    border-radius: .533333rem;
    margin-bottom:.746667rem;

}
.zvalid-resultformat{
    margin-bottom:.266667rem   /****10px****/
}
.contentTitle>.form>.userInfo>.message{
   min-height:2.933333rem;
   border-radius: 2px;
}
.contentTitle>.form>.userInfo>.userInput>input{
    height:1.093333rem;
    width:100%;
    border-width:1px !important;
    display:inline-block;
    padding:0 10px;
    border:1px solid #ccc;
    border-radius: 20px;
    background-color: #f7f7f7;
 
}
.contentTitle>.form>.userInfo>.userInput>textarea{
    width:100%;
    height:100%;
    border-width:1px !important;
    display:inline-block;
    border:1px solid #ccc;
    padding:10px 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
}
.sendMessage{
    color:#2096fa;
    height:1.066667rem;
    margin-top:.133333rem;
    line-height: 1.066667rem;
}
.sendMessage>.send{
    width:4.666667rem;
    height:100%;
    display: block;
    margin:0 auto;
    text-align: center;
    border:1px solid #2099fe;
    border-radius: 20px;
    color:#2099fe;
    background-color:#fff;
    font-size:16px;
}
.componeyMessage{
    margin-top:1.04rem;
}
.componeyMessage>div{
    height:.533333rem;
    line-height: .533333rem;
    font-size: 16px;
    color:#666666;
}
.componeyMessage .componeyMessageIcon{
	width:.533333rem;
	height:.533333rem;
	float:left;
	margin-right:.16rem;
}
.componeyMessage span{
	display:inline-block;
	height:100%;
	font-size:12px;
	color:#666666 !important;
	vertical-align: middle;
}
.error_tip{
    background-color: #fff !important;
    border-color:red !important;
}
.error_tip>input{
    background-color: #fff !important;
}
.telephone{
	margin-bottom:.266667rem;
}
.input-tip{
    position: absolute;
    bottom:-.533333rem;
    color: #ff0d00;
    padding-left: 10px;
    display: none;
}
.has-error .input-tip{
    display: block;
}
.has-error .form-control{
    background-color: white !important;
    border-color: #ff0d00 !important;
}