.mapArea{
	height:6.026667rem;
	background-image:url("../img/mobile/map.png");
	background-size:cover;
	position:relative;
}
.componey{
	margin:0 .333333rem 1.066667rem .333333rem;
	background-size:100% 100%;
	padding:.48rem .48rem;
	font-size:15px;
	color: #333333 !important;
}
.componey>p{
	margin-bottom:.346667rem;
}
.componey>p:last-child{
	margin-bottom:0;
}
.makPoint{
	width:.7rem;
	height:.7rem;
	position:absolute;
	top:2.1rem;
	left:7.56rem;
	border-radius:100%;
	background-color:#ebebeb;
	position:relative;
}
.makPoint>.addressMessage{
	position:absolute;
	
}
.makPoint2{
	left:120px;
	top:130px;
}
.app_title{
	height:.56rem;
	line-height:.56rem;
	font-size:17px;
	color:#333333;
	border-left:3px solid #1f9afd;
	padding-left:.213333rem;
}
.content{
	margin-top: .64rem;
    padding: 0 .32rem;
}
.app_down{
	width:9.333333rem;
	height:3.333333rem;
	margin-top:.56rem;
	background-image:url("../img/mobile/downApp.jpg");
	background-size:cover;
	position:relative;
}
.app_down>a{
	width:2.346667rem;
	height:.506667rem;
	position:absolute;
	left:.506667rem;
	bottom:.506667rem;
	height:.693333rem;
}