.content{
    margin-top:.8rem;
    padding:0 .266667rem
}
.content>.title{
    padding-top:.666667rem;
    font-size: 20px;
    line-height: .8rem;
    color:#000000;
}
.content>.title>.data{
    font-size: .373333rem;
    color:#999999;
    margin-top: .533333rem;
    margin-bottom: .666667rem;
}
.content>.pic{
    margin-bottom: .666667rem;
}
.footer{
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
}
.content>.text{
  font-size: 15px;
  color:#666666;
  line-height: 32px;
  text-indent:2em;
  padding-bottom: .666667rem;
  text-align:justify;
  text-justify:inter-ideograph;
}
