*{
	box-sizing:border-box;
}
.equipment{
	 padding:0 0.293rem;
	 color:#999999;
	 font-size:13px;
}
.equipment_introduce{
	
	margin-top: 1.14rem;
}
.equipment_img{
	padding-top:1rem;
}
.equipment_features{
	margin-top:2rem;
}
.equipment_introduce p{
	line-height:0.834rem;
}
.features{
	margin-top:1.4rem;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	flex-wrap:wrap;
    align-items: center;
    padding:0.387rem;
    background:#f0f0f0;
   
}
.features-content{
	width:50%;
	box-sizing:border-box;
	text-align:center;
	padding: .346rem;
	display:flex;
	flex-direction:row;
	align-items: center;
	
}
.equipment-desc-list{
	margin-top:1.213rem;
	padding:0 0.267rem;
	padding-bottom: 1.96rem;
	padding-right: 0.1rem;
	margin-left: 0.134rem;
}
.desc{
	line-height: 0.694rem;
	margin-top:0.596rem;
}
.desc-title{
	
}

.text{
	margin-left:0.13rem;
	
	font-size: 13px;
    text-align: justify;
}
.qing .desc-title{
	position:relative;
	padding-left:0.187rem;
}
.desc-title:before{
	content:'●';
	width:0.227rem;
	height:0.227rem;
	color:#60d0ff;
	dispaly:block;
	margin-right:0.16rem;
	
}
.qing .desc-title:before{
	content:'●';
	width:0.227rem;
	height:0.227rem;
	color:#60d0ff;
	dispaly:block;
	margin-right:0.16rem;
	position:absolute;
	left:-10px;
}