html,body{
    height: 100%;
    margin: 0;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    overflow-x: initial;
    width: 100%;
}

.hc1-container{
    width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}
.hc1-jumbotron{
    margin-top: 80px;
    height: 70%;
    position: relative;
    min-height: 450px;
    min-width: 1200px;
    overflow: hidden;
}
.hc1-jumbotron>img{
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.hc1-jumbotron-full{
	width:100%;
    padding-top: 80px;
    height:100%;
    min-height: 580px;
    min-width: 1200px;
    position: relative;
    overflow: hidden;
}
.hc1-jumbotron-full>img{
	min-width:100%;
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.slogan-circle-block{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .35);
	margin: 0 10px;
	text-align: center;
	font-size: 20px;
	color: #2094f9;
	padding: 22px 15px;
}
.hc1-article{
    margin: 80px 0;
    text-align: center;
}
.hc1-article img{
    width: 1000px;
    margin: auto;
}
.hc1-article .article-content{
    width: 1000px;
    margin: auto;
}
.hc1-article  p{
    text-indent: 2.5rem;
    font-size: 18px;
    color: #666666;
    line-height: 2;
    margin: 0;
	text-align:justify;
	text-justify:inter-ideograph;
}
.hc1-article .title-block {
	margin-top: -80px;
}
.hc1-article .title-block .title-text{
	font-size: 30px;
}
.text-indent{
    text-indent: 2.5rem;
}
.bg-blue{
	 background-color: #e8f5fe;
}
.pt80{
	padding-top:80px; 
}
.pb80{
	padding-bottom:80px; 
}
.color-white{
	color: #ffffff;
}
.bg-white{
	background-color: #ffffff;
}
.slogan-title .content-title{
    font-size: 32px;
    letter-spacing: 2px;
}
.slogan-title .icon-plus{
	position: absolute;
	right: -20px;
	top: -15px;
	font-size: 26px;
}
.slogan-title .split{
    display: inline-block;
    width: 32px;
    height: 4px;
    margin: 20px 0;
}
.slogan-title .sub-title{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2px;
}
/*頭部導航欄*/
.site-topbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 80px;
    line-height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 1px #aaa;
}
.hc1-logo{
    display: inline-block;
}
.hc1-logo img{
    display: inline-block;
    height: 54px;
}

.site-topbar ul{
    margin: 0;
    padding: 0;
}
.site-topbar ul>li{
    list-style: none;
    display: inline-block;
    margin-right: 54px;
    position: relative;
}
.site-topbar ul>li a{
    color: #666666;
    font-size: 16px;
    text-decoration: none;
}
.site-topbar a:hover,.site-topbar a:active,.site-topbar .active,.site-topbar .active>a{
    color: #2099fe !important;
}
.site-topbar ul>li:nth-last-child(2){
     margin-right: 0;
 }
.site-topbar ul>li:nth-last-child(2) a{
    padding-right: 24px;
    /*border-right: 1px solid #e5e5e5;*/
}
.site-topbar ul>li:last-child{
    margin-right: 0;
}
.site-topbar ul>li:last-child a{
    padding-left: 24px;
    font-size: 14px;
    color: #999999;
}
.site-topbar ul>li>a>img{
    vertical-align: middle;
    width: 12px;
    margin-left: 10px;
}
.site-topbar ul>li>a>.menu-arrow{
    display:inline-block;
    width: 12px;
    height: 12px;
    margin-left:10px;
    background:url('../img/arrow_down.png');
    background-size: cover;
    vertical-align: middle;
}
.site-topbar ul>li:hover .menu-arrow{
    background:url('../img/arrow_up.png');
}
.site-topbar .nav-sub-menu{
    position: absolute;
    z-index: 999;
    background-color: #FFFFFF;
    min-width: 130px;
    padding: 15px 0;
    border-radius: 5px;
    white-space:nowrap;
    top: 65px;
    left: -35%;
    display: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.site-nav-menu li:hover>.nav-sub-menu{
    display: block;
}
.site-topbar .nav-sub-menu .sub-menu-list a{
    display: block;
    padding: 8px 15px;
    text-align: center;
    color: #666666;
    font-size: 16px;
    line-height: normal;
}
.site-topbar .nav-sub-menu .sub-menu-list a:first-child{
	padding-top: 0;
}
.site-topbar .nav-sub-menu .sub-menu-list a:last-child{
	padding-bottom: 0;
}
.nav-sub-menu .caret-hover{
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 55px;
}
.nav-sub-menu .caret-hover:before, .nav-sub-menu .caret-hover:after{
    border: .5rem solid transparent;
    border-bottom: .5rem solid #ffffff;
    width: 0;
    height: 0;
    position: absolute;
    top: 2px;
    content: ' ';
}
.nav-sub-menu .caret-hover:before{
    border-bottom-color: #ddd;
    top: 0;
}
/*底部樣式*/
.index-footer{
    height: 40px;
    line-height: 40px;
    background-image: url("../img/footer_bg.png");
    background-size: cover;
    text-align: center;
}
.index-footer span{
    color: #FFFFFF;
    opacity: .8;
}

/*首頁樣式*/
.hc1-banner{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding-top: 80px;
    min-width: 1200px;
}
.index-banner{
	width:100%;
    height:100%;
    min-height:500px;
    position: relative;
    overflow: hidden;
}
.index-banner>img{
	min-width:100%;
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.swiper-container .hc1-jumbotron-full{
    padding-top: 0;
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.swiper-slide img{
    height: 100%;
   /*  margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0); */
}
.my-bullet{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    background: #FFFFFF;
    margin: 0 10px;
    transition: width 1s;
    -moz-transition: width 1s;	/* Firefox 4 */
    -webkit-transition: width 1s;	/* Safari 和 Chrome */
    -o-transition: width 1s;	/* Opera */
}
.my-bullet-active{
    width: 32px;
}
#product_service{
    background-color: #FFFFFF;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
}
.title-block{
    margin-top: 80px;
    text-align: center;
}
.title-block .title-text{
    font-size: 36px;
    color: #333333;
}
.title-block .split{
    display: inline-block;
    width: 36px;
    height: 4px;
    background-color: #2099fe;
    margin: 26px 0;
}
.title-block .sub-title{
    color: #999999;
    text-align: center;
    font-size: 22px;
}
.pro-list{
    margin-top: 26px;
    text-align: center;
}
.pro-list .pro-grid{
    height: 450px;
    padding: 0 !important;
}
.pro-list .pro-grid .pro-content{
    position: relative;
    width: 360px;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
}
.pro-list .pro-grid .pro-content .pro-A{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -118px;
    opacity: 1;
    transition: opacity 0.1s;
    -moz-transition: opacity 0.1s; 
    -webkit-transition: opacity 0.1s; 
    -o-transition: opacity 0.1s;
}
.pro-list .pro-grid .pro-content:hover .pro-A{
    opacity: 0;
    z-index: 100;
}
.pro-list .pro-grid .pro-content .pro-B{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    opacity: 0;
    transition: opacity 0.1s;
    -moz-transition: opacity 0.1s; 
    -webkit-transition: opacity 0.1s; 
    -o-transition: opacity 0.1s; 
}
.pro-list .pro-grid .pro-content:hover .pro-B{
    padding: 25px 20px;
    opacity: 1;
    z-index: 110;
}
.pro-list .pro-grid:nth-child(1) .pro-content:hover .pro-B{
    background: url("../img/pic_green_frame.png");
    background-size: cover;
}
.pro-list .pro-grid:nth-child(2) .pro-content:hover .pro-B{
	background: url("../img/pic_blue_frame.png");
    background-size: cover;
}
.pro-list .pro-grid:nth-child(3) .pro-content:hover .pro-B{
    background: url("../img/pic_purple_frame.png");
    background-size: cover;
}
.pro-list .pro-grid .pro-content .pro-B p{
    font-size: 16px;
	text-align:justify;
	text-justify:inter-ideograph;
    line-height: 1.8;
    color: #666666;
    margin: 0;
    padding: 0;
}
.pro-list .pro-icon{
    width: 180px;
    height: 180px;
}
.pro-list .pro-name{
    font-size: 24px;
    color: #666666;
    margin-top: 28px;
}
.pro-B .pro-link{
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 250px;
    left: 50%;
    margin-left:-125px;
}
.pro-B .pro-link a{
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    border: 1px solid transparent;
    border-radius: 18px;
    display: block;
    margin-top: 20px;
    padding: 0 20px;
    text-decoration: none;
    color: #666666;
}
.pro-list .pro-grid:nth-child(1) .pro-link a{
    border: 1px solid #24d394;
}
.pro-list .pro-grid:nth-child(2) .pro-link a{
    border: 1px solid #14b7f4;
}
.pro-list .pro-grid:nth-child(3) .pro-link a{
    border: 1px solid #a98cff;
}
.pro-list .pro-grid:nth-child(1) .pro-link a:hover,.pro-list .pro-grid:nth-child(1) .pro-link a:focus{
    background-color: #24d394;
    color: #ffffff;
}
.pro-list .pro-grid:nth-child(2) .pro-link a:hover,.pro-list .pro-grid:nth-child(2) .pro-link a:focus{
    background-color: #14b7f4;
    color: #ffffff;
}
.pro-list .pro-grid:nth-child(3) .pro-link a:hover,.pro-list .pro-grid:nth-child(3) .pro-link a:focus{
    background-color: #a98cff;
    color: #ffffff;
}

#last_news{
    background-color: #f1f8fd;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
}
.news-list{
    padding: 25px;
}
.news-row{
    cursor: pointer;
}
.news-row .news-left{
    padding-top: 20px;
    padding-bottom: 55px;
    border-right: 1px solid #dbdbdb;
    color: #999999;
    float: left;
    width: 115px;
}
.news-row.active .news-left,.news-row:hover .news-left{
    color:#2099fe;
}

.news-time{
    height: 100px;
}
.news-time .time-date{
    font-size: 24px;
}
.news-time .time-year{
    font-size: 20px;
}
.news-row .news-center{
    float: left;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 55px;
}
.news-text{
    height: 100px;
    padding-left: 66px;
    margin-left: -1px;
    border-left: 2px solid transparent;
}
.news-row.active .news-text,.news-row:hover .news-text{
    border-left: 2px solid #2099fe;
}
.news-text .news-title{
    font-size: 22px;
    color: #333333;
    line-height: 1.4;
}
.news-text .news-sub-title{
    font-size: 16px;
    color: #999999;
    margin-top: 10px;
}
.news-row .news-right{
    float: right;
    width: 310px;
    height: 130px;
   	margin-top: 5px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.news-row .news-right img{
	width:100%;
    margin-top: 65px;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
}
.news-row:hover .news-right{
    -webkit-transform: translate(20px,0);
    -moz-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    -o-transform: translate(20px,0);
}
.news-row:hover .news-text{
    padding-left: 86px;
}
/*資訊詳情*/
.news-content{
    margin-top: 80px;
    background-color: white;
}
.news-content .news-content-title{
    font-size: 32px;
    color: #000000;
    padding-top: 86px;
    text-align: center;
    width: 800px;
    margin: auto;
    line-height: 1.5;
}
.news-content .news-content-time{
    font-size: 18px;
    color: #999999;
    margin-top: 38px;
    text-align: center;
    margin-bottom: 30px;
}
.news-content .news-content-img{
    width: 960px;
    margin: 20px auto;
}
.news-content .news-content-img img{
    width: 100%;
}
.news-content .news-content-main{
    width: 960px;
    margin: 50px auto;
}
.news-content .news-content-text{
    margin: 15px 0;
    font-size: 16px;
    color: #666666;
    line-height: 2.5;
    text-align: left;
	text-indent: 32px;
}
/*关于我们*/
.about-us{
    margin-top: 40px;
    margin-bottom: 50px;
}
.about-us .left-menu{
    padding: 10px 40px 10px 0;
    float: left;
    border-right: 1px solid #dbdbdb;
}
.about-us .left-menu ul{
    width: 240px;
    margin: 0;
    padding: 0;
}
.about-us .left-menu ul>li{
    list-style: none;
    height: 70px;
    line-height: 70px;
    color: #666666;
    font-size: 18px;
    border-left: 4px solid transparent;
    background-color: #efefef;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
.about-us .left-menu ul>li:hover,.about-us .left-menu ul>li.active{
    border-left: 4px solid #2099fe;
    background-color: #DDDDDD;
    color: #333333;
}
.about-us .right-content{
    padding: 10px 40px;
    margin-left: 280px;
    border-left: 1px solid #dbdbdb;
}
.about-us .right-content p{
    font-size: 18px;
    color: #666666;
    line-height: 2;
	text-align:justify;
	text-justify:inter-ideograph;
}
.about-us .right-content .right-content-block table {
	margin-top:20px;
}
.about-us .right-content .right-content-block table tr td {
	font-size: 18px;
	color: #666666;
	line-height: 1.5;
	text-align:justify;
	text-justify:inter-ideograph;
	border:1px solid #666666;
}
.about-us .right-content .right-content-block table tr td:first-child {
	width: 185px;
	text-align:center;
}
.about-us .right-content .right-content-block table tr td:last-child {
	padding: 10px 20px;
}
.about-us .right-content .right-content-block{
    display: none;
}

/*智慧医疗*/
.wise-medical .video-block{
    margin-top: 80px;
    text-align: center;
}
.wise-medical .pro-link{
    margin-top: 10px;
    margin-bottom: 20px;
}
.wise-medical .pro-link a{
    font-size: 18px;
    width: 30%;
    margin :0 1%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #24d394;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
}
.wise-medical .pro-link a:hover{
   background-color: #24d394;
   color: #ffffff;
}
.wise-medical .image-grid{
    text-align: center;
}
.wise-medical .image-grid img{
    width: 100%;
}
.wise-medical .image-grid .image-name{
    font-size: 16px;
    margin: 20px 0;
}
.wise-medical-pro{
    margin-top: 40px;
    margin-bottom: 50px;
}
.wise-medical-pro .left-menu{
    padding: 10px 40px 10px 0;
    float: left;
    border-right: 1px solid #dbdbdb;
}
.wise-medical-pro .left-menu ul{
    width: 240px;
    margin: 0;
    padding: 0;
}
.wise-medical-pro .left-menu ul>li{
    list-style: none;
    height: 70px;
    line-height: 70px;
    color: #666666;
    font-size: 18px;
    border-left: 4px solid transparent;
    background-color: #efefef;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
.wise-medical-pro .left-menu ul>li:hover,.wise-medical-pro .left-menu ul>li.active{
    border-left: 4px solid #2099fe;
    background-color: #DDDDDD;
    color: #333333;
}
.wise-medical-pro .right-content{
    padding: 10px 40px;
    margin-left: 280px;
    border-left: 1px solid #dbdbdb;
}
.wise-medical-pro .right-content p{
    font-size: 18px;
    color: #666666;
    line-height: 2;
    text-indent: 2.5rem;
    letter-spacing: 1px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.wise-medical-pro #content_2 p{
    text-indent: 0;
}
.wise-medical-pro .right-content .right-content-block{
    display: none;
}
.wise-medical-pro .right-content  ul{
    margin: 0;
    padding-left: 2rem;
}
.wise-medical-pro .right-content  ul>li{
    list-style: none;
    color: #666;
    font-size: 18px;
    text-align: left;
    line-height: 36px;
}
.wise-medical-pro .right-content ul .li-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    float: left;
    margin-top: 14px;
}
.wise-medical-pro .right-content ul .li-content{
	margin-left: 20px;
}
/*雲端医疗*/
.cloud-medical .video-block{
    margin-top: 80px;
    text-align: center;
}
.cloud-medical .pro-link{
    margin-top: 10px;
    margin-bottom: 20px;
}
.cloud-medical .pro-link a{
    font-size: 18px;
    width: 30%;
    margin :0 1%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #14b7f4;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
}
.cloud-medical .pro-link a:hover{
    background-color: #14b7f4;
    color: #ffffff;
}

.hc1-slogan{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    /* min-height: 500px; */
    margin-top: 80px;
    min-width: 1200px;
}
.hc1-slogan img{
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
}
.app-introduce{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    min-height: 400px; 
    margin-top: 80px;
    min-width: 1200px;
}
.app-introduce:nth-child(odd){
    background-color: #F4F8FC;
}
.app-introduce:nth-child(even){
    background-color: #DDF1FA;
}
.app-introduce .right-text{
    position: absolute;
    top: 45%;
    right: 24%;
    margin-top: -6%;
}
.app-introduce .left-text{
    position: absolute;
    top: 45%;
    left: 20%;
    margin-top: -6%;
}
.app-introduce .content-title{
    color: #000000;
    font-size: 28px;
    letter-spacing: 2px;
}
.app-introduce .split{
    display: inline-block;
    width: 32px;
    height: 4px;
    background-color: #2099fe;
    margin: 15px 0;
}
.app-introduce .sub-title{
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
    letter-spacing: 2px;
}
.introduce-block{
    margin: auto;
    height: 100%;
}
#app_introduce_1 .left-image{
    position: absolute;
    top: 50%;
    left: 15%;
    height: 70%;
    margin-top: -12%;
}
#app_introduce_1 .left-image img:nth-child(1){
    height: 100%;
}

#app_introduce_1 .left-image img:nth-child(2){
    position: absolute;
    top: 31%;
    left: 7%;
    height: 50%;
}
#app_introduce_2{
    background-image: url("../img/pic_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#app_introduce_2 .right-image{
    position: absolute;
    top: 50%;
    right: 18%;
    height: 80%;
    margin-top: -12%;
}
#app_introduce_2 .right-image img:nth-child(1){
    height: 100%;
}
#app_introduce_2 .right-image img:nth-child(2){
    position: absolute;
    top: 5%;
    right: 20%;
    height: 100%;
    margin-top: -12%;
}

#app_introduce_3 .left-image{
    position: absolute;
    top: 50%;
    left: 20%;
    height: 85%;
    margin-top: -12%;
}
#app_introduce_3 .left-image img:nth-child(1){
    height: 90%;
}

#app_introduce_3 .left-image img:nth-child(2){
    position: absolute;
    top: -10%;
    left: 40%;
    height: 100%;
}

#app_introduce_4 .right-image{
    position: absolute;
    top: 42%;
    right: 20%;
    height: 90%;
    margin-top: -12%;
}

#app_introduce_4 .right-image img:nth-child(1){
    height: 100%;
}
#app_introduce_5 .index-footer{
    position: absolute;
    width: 100%;
    top: 100%;
}
#app_introduce_5 .left-image{
    position: absolute;
    top: 38%;
    left: 18%;
    height: 85%;
    margin-top: -10%;
}
#app_introduce_5 .left-image img:nth-child(1){
    height: 115%;
}
#app_introduce_5 .left-image img:nth-child(2){
	position: absolute;
	top: 0%;
    height: 115%;
    left: 55%;
}
#app_introduce_5 .left-image img:nth-child(3){
    position: absolute;
    top: 30%;
    left: 150%;
    height: 30%;
}

/*量測設備*/
.cloud-medical-device{
    margin-top: 40px;
    margin-bottom: 50px;
}
.cloud-medical-device .left-menu{
    padding: 10px 40px 10px 0;
    float: left;
    border-right: 1px solid #dbdbdb;
}
.cloud-medical-device .left-menu ul{
    width: 240px;
    margin: 0;
    padding: 0;
}
.cloud-medical-device .left-menu ul>li{
    list-style: none;
    height: 70px;
    line-height: 70px;
    color: #666666;
    font-size: 18px;
    border-left: 4px solid transparent;
    background-color: #efefef;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
.cloud-medical-device .left-menu ul>li:hover,.cloud-medical-device .left-menu ul>li.active{
    border-left: 4px solid #2099fe;
    background-color: #DDDDDD;
    color: #333333;
}
.cloud-medical-device .right-content{
    padding: 10px 40px;
    margin-left: 280px;
    border-left: 1px solid #dbdbdb;
}
.cloud-medical-device .right-content p{
    font-size: 18px;
    color: #666666;
    line-height: 2;
}
.cloud-medical-device .right-content .right-content-block{
    display: none;
}
.cloud-medical-device .cloud-device-detail{
    margin-top: 0;
}

/*精準醫療*/
.precision-medical .video-block{
    margin-top: 80px;
    text-align: center;
}
.precision-medical .pro-link{
    margin-top: 10px;
    margin-bottom: 20px;
}
.precision-medical .pro-link a{
    font-size: 18px;
    width: 30%;
    margin :0 1%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #a98cff;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #666666;
}
.precision-medical .pro-link a:hover{
	background-color: #a98cff;
    color: #ffffff;
}

.precision-medical-pro{
    margin-top: 40px;
    margin-bottom: 50px;
}
.precision-medical-pro .left-menu{
    padding: 10px 40px 10px 0;
    float: left;
    border-right: 1px solid #dbdbdb;
}
.precision-medical-pro .left-menu ul{
    width: 240px;
    margin: 0;
    padding: 0;
}
.precision-medical-pro .left-menu ul>li{
    list-style: none;
    height: 70px;
    line-height: 70px;
    color: #666666;
    font-size: 18px;
    border-left: 4px solid transparent;
    background-color: #efefef;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
.precision-medical-pro .left-menu ul>li:hover,.precision-medical-pro .left-menu ul>li.active{
    border-left: 4px solid #2099fe;
    background-color: #DDDDDD;
    color: #333333;
}
.precision-medical-pro .right-content{
    padding: 10px 40px;
    margin-left: 280px;
    border-left: 1px solid #dbdbdb;
}
.precision-medical-pro .right-content p{
    font-size: 18px;
    color: #666666;
    line-height: 2;
    letter-spacing: 1px;
}
.precision-medical-pro .right-content .right-content-block{
    display: none;
}
.precision-medical-pro .right-content  ul{
    margin: 0;
    padding-left: 0;
}
.precision-medical-pro .right-content  ul>li{
    list-style: none;
    color: #666;
    font-size: 18px;
    text-align: left;
    line-height: 2;
    text-indent: 2.5rem;
}
.precision-medical-pro .right-content ul .li-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    margin-right: 10px;
}
.precision-medical-pro  .right-content .img-row{
    display: table;
    margin-left: -5px;
    margin-right: -5px;
}

.precision-medical-pro  .right-content .img-row .img-grid{
    display: table-cell;
    padding: 0 5px;
    cursor: pointer;
}
.precision-medical-pro  .right-content .split-line{
    border-bottom: 1px solid #dbdbdb;
}
.precision-medical-pro  .right-content .img-row .img-grid .img-box{
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
    position: relative;
}
.precision-medical-pro  .right-content .img-row .img-grid.active .img-box{
    border-bottom: 3px solid #dbdbdb;
}
.precision-medical-pro  .right-content .img-row .img-grid .img-box img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.precision-medical-pro .right-content .img-row .img-grid .img-box .gay-over{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	display: block;
}
.precision-medical-pro .right-content .img-row .img-grid.active .img-box .gay-over{
	display: none;
}
.precision-medical-pro .right-content .img-row .img-grid:hover .img-box .gay-over{
	display: none;
}
.precision-medical-pro .right-content .img-row .img-grid .img-box .gay-over .locking{
	width: 100%;
	height: 100%;
	background-color: #666;
	border-radius: 5px;
	opacity:.5;
}
.precision-medical-pro  .right-content .img-tabs{
    /*margin-top: 40px;*/
}
.precision-medical-pro  .right-content .img-tabs .img-tab{
    display: none;
}
.precision-medical-pro  .right-content .img-tabs .img-tab.active{
    display: block;
}
.precision-medical-pro  .right-content .img-tab-title{
    border-left: 3px solid #2099fe;
    padding-left: 10px;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    color: #000000;
}
.precision-medical-pro  .right-content .img-tab-content{
    padding: 80px 0;
    text-align: center;
}
.precision-medical-pro  .right-content .img-tab-content .img-box{
    display: inline-block;
    padding: 0 60px;
}
.precision-medical-pro  .right-content .img-tab-content .img-box>img{
    width: 150px;
    height: 150px;
}
.precision-medical-pro  .right-content .img-tab-content .img-box .QRcode-des{
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}
.precision-medical-pro  .right-content .img-tab-content .img-box .QRcode-des>img{
    height: 24px;
    margin-right: 10px;
}

/*客户服务*/
.user-services{
    margin-top: 40px;
    margin-bottom: 50px;
}
.user-services .left-menu{
    padding: 10px 40px 10px 0;
    float: left;
    border-right: 1px solid #dbdbdb;
}
.user-services .left-menu ul{
    width: 240px;
    margin: 0;
    padding: 0;
}
.user-services .left-menu ul>li{
    list-style: none;
    height: 70px;
    line-height: 70px;
    color: #666666;
    font-size: 18px;
    border-left: 4px solid transparent;
    background-color: #efefef;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
}
.user-services .left-menu ul>li:hover,.user-services .left-menu ul>li.active{
    border-left: 4px solid #2099fe;
    background-color: #DDDDDD;
    color: #333333;
}
.user-services .right-content{
    padding: 10px 40px;
    margin-left: 280px;
    border-left: 1px solid #dbdbdb;
}
.user-services .right-content p{
    font-size: 18px;
    color: #666666;
    line-height: 2;
    letter-spacing: 1px;
}
.user-services .right-content .right-content-block{
    display: none;
}
.user-services .right-content  ul{
    margin: 0;
    padding-left: 0;
}
.user-services .right-content  ul>li{
    list-style: none;
    color: #666;
    font-size: 18px;
    text-align: left;
    line-height: 2;
    text-indent: 2.5rem;
}
.user-services .right-content ul .li-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    margin-right: 10px;
}
.user-services .right-content .img-row{
    display: table;
    margin-left: -5px;
    margin-right: -5px;
}

.user-services .right-content .img-row .img-grid{
    display: table-cell;
    padding: 0 5px;
    cursor: pointer;
}
.user-services .right-content .split-line{
    border-bottom: 1px solid #dbdbdb;
}
.user-services .right-content .img-row .img-grid .img-box{
    padding-bottom: 20px;
    border-bottom: 3px solid transparent;
    position: relative;
}
.user-services .right-content .img-row .img-grid.active .img-box{
    border-bottom: 3px solid #dbdbdb;
}
.user-services .right-content .img-row .img-grid .img-box img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}
.user-services .right-content .img-row .img-grid .img-box .gay-over{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
	display: block;
}
.user-services .right-content .img-row .img-grid.active .img-box .gay-over{
	display: none;
}
.user-services .right-content .img-row .img-grid:hover .img-box .gay-over{
	display: none;
}
.user-services .right-content .img-row .img-grid .img-box .gay-over .locking{
	width: 100%;
	height: 100%;
	background-color: #666;
	border-radius: 5px;
	opacity:.5;
}
.user-services .right-content .img-tabs{
    margin-top: 40px;
}
.user-services .right-content .img-tabs .img-tab{
    display: none;
}
.user-services .right-content .img-tabs .img-tab.active{
    display: block;
}
.user-services .right-content .img-tab-title{
    border-left: 3px solid #2099fe;
    padding-left: 10px;
    font-size: 24px;
    height: 24px;
    line-height: 24px;
    color: #000000;
}
.user-services .right-content .img-tab-content{
    padding: 80px 0;
    text-align: center;
}
.user-services .right-content .img-tab-content .img-box{
    display: inline-block;
    padding: 0 60px;
}
.user-services .right-content .img-tab-content .img-box>img{
    width: 150px;
}
.user-services .right-content .img-tab-content .img-box .QRcode-des{
    font-size: 18px;
    color: #000000;
    margin-top: 20px;
}
.user-services .right-content .img-tab-content .img-box .QRcode-des>img{
    height: 24px;
    margin-right: 15px;
}
.user-services .sale-point-row p{
	margin: 0;
	border-left: 4px solid transparent;
	padding-left: 15px;
}
.user-services .sale-point-row p:first-child{
	border-left: 4px solid #2099fe;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}
.user-services .sale-point{
	width: 800px;
	position: relative;
}
.user-services .sale-point .sale-map{
	width: 100%;
}
.user-services .sale-point .mark-point{
	position: absolute;
	width: 30px;
	height: 30px;
}
.user-services .sale-point .mark-point:hover{	
	 -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0,-5px);
    -ms-transform: translate(0,-5px);
    -o-transform: translate(0,-5px);
    z-index: 999;
}
.user-services .sale-point .mark-point .mark-point-icon{
	position: absolute;
	top:0;
	width: 30px;
	height: 30px;
	background:url('../img/mark_point.png');
	background-size: 30px 30px; 
	z-index: 90;
}
.user-services .sale-point .mark-point:hover .mark-point-icon{
	background:url('../img/mark_point_active.png');
	background-size: 30px 30px; 
}
.user-services .sale-point .sale-point-des{
	position: absolute;
	z-index: 999;
	left: 15px;
	width: 280px;
	bottom: 28px;
	padding: 15px 20px 20px 20px;
	background:url('../img/mark_point_bg.png');
	background-size: 280px 100%; 
	 transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
     display: none; 
}
.user-services .sale-point .sale-point-des p{
	margin:0;
	line-height: 1.5;
	font-size: 14px;
	color: #666;
}
.user-services .sale-point .mark-point:hover .sale-point-des{	
	display: block;
}
/*联络我们*/
.contact-us{
    margin:auto;
    padding: 50px;
}
.contact-us .block-title{
    border-left: 3px solid #2099fe;
    padding-left: 10px;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    color: #000000;
}
.contact-us .input-row{
    margin: 60px -20px;
}
.contact-us .input-row .input-box{
    position: relative;
}
.contact-us .input-row .col-xs-4{
    padding-left: 20px;
    padding-right: 20px;
}
.contact-us .input-row .input-label{
    color: #666;
    font-size: 16px;
    padding-left: 10px;
}
.contact-us .input-row .input-label .strong{
    color: #ff0d00;
    margin-right: 5px;
}
.contact-us .input-row .custom-input,.contact-us .input-row .custom-textarea{
    margin-top: 10px;
}
.contact-us .input-row .custom-input .form-control{
    height: 44px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 22px;
    background-color: #f7f7f7;
    color: #000000;
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
.contact-us .input-row .form-control:FOCUS{
    background-color: #ffffff !important;
}
.contact-us .input-row .custom-textarea .form-control{
    font-size: 16px;
    padding: 12px 20px;
    background-color: #f7f7f7;
    line-height: 1.5;
    color: #333;
     -webkit-box-shadow: none; 
    box-shadow: none; 
}
.contact-us .input-row .input-box .input-tip{
    position: absolute;
    bottom: -25px;
    color: #ff0d00;
    padding-left: 10px;
    display: none;
}
.contact-us .input-row .has-error .form-control {
    background-color: white;
    border-color: #ff0d00;
}
.contact-us .input-row .has-error .input-tip{
    display: block;
}
.contact-us .contact-method{
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    margin-top: -10px;
}
.contact-method .submit-btn{
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border-radius: 22px;
    border: 1px solid #2096fb;
    color: #2096fb;
    background-color: white;
    width: 80%;
    float: right;
    outline: none;
}
.contact-method .submit-btn:focus,.contact-method .submit-btn:hover{
    background-color: #2096fb;
    color: white;
}
.contact-method .submit-btn:active{
    border: 1px solid #2096fb;
    background-color: #2096fb;
}
.contact-method .submit-btn[disabled]{
    border: 1px solid #cfe6f9 !important;
    color: #cfe6f9 !important;
    background-color: white !important;
}

@font-face {
  font-family: 'hc1iconfont';
  src: url('//at.alicdn.com/t/font_976215_huxh24w1l7h.eot');
  src: url('//at.alicdn.com/t/font_976215_huxh24w1l7h.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_976215_huxh24w1l7h.woff') format('woff'),
  url('//at.alicdn.com/t/font_976215_huxh24w1l7h.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_976215_huxh24w1l7h.svg#iconfont') format('svg');
}
.hc1iconfont {
  font-family:"hc1iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style:normal;
  font-variant: normal;
  text-rendering: auto;
}
.icon-icon-:before { content: "\e613"; }

.icon-icon-1:before { content: "\e614"; }

.icon-icon-2:before { content: "\e615"; }

.icon-icon-3:before { content: "\e616"; }

.icon-icon-4:before { content: "\e617"; }

.icon-icon-5:before { content: "\e618"; }

.icon-icon-6:before { content: "\e619"; }

.icon-icon-7:before { content: "\e61a"; }

.icon-icon-8:before { content: "\e61b"; }

.icon-icon-9:before { content: "\e61c"; }

.icon-icon-10:before { content: "\e61d"; }

.icon-icon-11:before { content: "\e61e"; }

.icon-icon-12:before { content: "\e61f"; }

.icon-icon-13:before { content: "\e620"; }

.icon-icon-14:before { content: "\e621"; }

.icon-icon-15:before { content: "\e622"; }

.icon-icon-16:before { content: "\e623"; }

.icon-icon-17:before { content: "\e624"; }

.icon-icon-18:before { content: "\e625"; }

.icon-icon-19:before { content: "\e626"; }

.icon-icon-20:before { content: "\e627"; }

.icon-icon-21:before { content: "\e628"; }

.icon-icon-22:before { content: "\e629"; }

.icon-icon-23:before { content: "\e62a"; }

.icon-icon-24:before { content: "\e62b"; }

.icon-icon-25:before { content: "\e62c"; }

.icon-icon-26:before { content: "\e62d"; }

.icon-icon-27:before { content: "\e62e"; }

.icon-icon-28:before { content: "\e62f"; }

.icon-icon-29:before { content: "\e643"; }

.icon-icon-30:before { content: "\e631"; }

.icon-icon-31:before { content: "\e632"; }

.icon-icon-32:before { content: "\e633"; }

.icon-icon-33:before { content: "\e634"; }

.icon-icon-34:before { content: "\e635"; }

.icon-icon-35:before { content: "\e642"; }

.icon-icon-36:before { content: "\e637"; }

.icon-icon-37:before { content: "\e638"; }

.icon-icon-38:before { content: "\e639"; }

.icon-icon-39:before { content: "\e63a"; }

.icon-icon-40:before { content: "\e63b"; }

.icon-icon-41:before { content: "\e63c"; }

.icon-icon-42:before { content: "\e63d"; }

.icon-icon-43:before { content: "\e63e"; }

.icon-icon-44:before { content: "\e63f"; }

.icon-icon-45:before { content: "\e640"; }

.icon-icon-46:before { content: "\e641"; }

.icon-icon-35-copy:before { content: "\e642"; }

.icon-icon-29-copy:before { content: "\e643"; }