#home{
    width:10rem;
    margin: 0 auto;
    padding-top:1.466667rem;
 
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html, body {
      height: 100%;
      overflow: auto;
     -webkit-overflow-scrolling: touch;
 }
body {
    position: relative;
}
.swiper-pagination-bullet-active{background-color:#fff !important}
#home .head{height:1.466667rem;line-height:1.466667rem;display: flex;flex-direction: row;justify-content: space-between;position: fixed;width:100%;z-index:300;top:0;left:0;background-color: #fff;  border-bottom:1px solid #eee;
    box-shadow: 0px 1px 1px #eee;}
    
#home .head>.head_position{
	width:100%;
	position:relative;
	
} 
#home .head>.head_position>.left{
	width:30%;
	height:100%;
	float:left;
	z-index:4000;
	position: relative;
}
#home .head>.head_position>.left>img{
	width:.533333rem;
	position:absolute;
	top:50%;
	transform:translateY(-50%)
}
#home .head>.head_position>.right{
	width:1.333333rem;
	height:100%;
	z-index:4000;
	position:absolute;
	font-size:15px;
	color:#999999;
	right:0;
}
#home .head>.head_position>.center{
	float:left;
	width:100%;
	text-align:center;
	position:absolute;
}



/**  
#home .head>.left{width:.533333rem;height:100%;position: relative;}
#home .head>.left>span{display: block;height:100%;} 
home .head>.left>img{position: absolute;top:50%;left:50%;width:.506667rem;height:.506667rem;transform: translateX(-50%) translateY(-50%)}
#home .head>.right{width:1.333333;height:100%;text-align: center;font-size: 15px;color:#999999;}
#home .center{
   margin:0 auto;
    
}**/
#home .center>img{
    height: 38px;
    width: auto;
    vertical-align: middle
}
#home .banner{
    height:6.666667rem;
    -moz-box-shadow: 0px 5px 5px #d5d5d5; /* 锟筋冀锟斤拷 Firefox */
}
#home .banner img{
    width:100%;
    height:6.666667rem;
}
#home .show{
    text-align: center;
    padding:1.253333rem .8rem 1.173333rem .8rem;
}
.title{
    font-size:19px;
    color:#333333;
    position: relative;
} 
.title:after{
    content:'';
    display: block;
    position: absolute;
    margin-top:.453333rem;
    margin-bottom:.533333rem;
    left:50%;
    transform: translateX(-50%);
    width:.533333rem;
    height:.08rem;
    background-color:#2099fe;
}
#home .show>.descriction{
    margin:0 auto;
    font-size:15px;
    color:#999999;
    line-height:.613333rem;
    margin-top:1.066667rem;
}
#home .show>.list{
 margin-top:1.04rem;
}
#home .show .list .block{
    width:100%;
   display:flex !important;
   flex-direction: row;
   justify-content: space-around;
   color:'#dododo'
}
#home .show>.list>.block .blockImage{
    width:2.16rem;
}
#home .show>.list>.block .blockImage>img{
   width:100%;
}
#home .show>.list>.block .blockImage>.text{
    font-size: 16px;
    margin-top:.666667rem;
    color:#666666;
}
.spliteLine{
    height:.266667rem;
    background-color: #ededed;
}
.second{
    padding:1.253333rem .266667rem 0 .266667rem;
}
.page_title{
   
    text-align: center;
    font-size: 19px;
    color:#333333;
}
.pageDesc{
   margin-top:.8rem
}
.pageDesc .pageDescBlock>div{
  float:left;
}
.pageDesc .pageDescBlock{
    overflow: hidden;
    height:3.653333rem;
    display:flex;
    padding: .746667rem 0;
    position: relative;
    border-bottom:1px solid #e5e5e5;
}
.pageDesc .pageDescBlock>.text{
    flex:1;
}
.pageDesc .pageDescBlock>.text>p{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    font-size: 16px;
    color:#333333;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: .533333rem;
}
.pageDesc .pageDescBlock>.text>.data{
  position: absolute;
  bottom:.746667rem;
  font-size:13px;
  color:#999999;
  left:0px;
}
.pageDesc .pageDescBlock>.picture{
    width:3.2rem;
    margin-left:.4rem;
	overflow-y:hidden;
}
.pageDesc .pageDescBlock>.picture>img{
	height:auto;
}
.footer{
    text-align: center;
    box-sizing: border-box;
    font-size: 13px;
  /**  padding:.213333rem 0 .266667rem 0;**/
    padding:.24rem 0 .24rem 0;
    background-image:url('/images/img/a.png')
}
.footer>div{
    margin:0 auto;
    height:.8rem;
	line-height:.8rem;
    white-space: pre-wrap;       
    word-break:break-all;
    vertical-align: middle;
    color:#ffffff;
    filter:alpha(opacity=80);
    opacity:0.8;
}
#menu{
    width:6.933333rem;
    height:100%;
    position:fixed;
    left:-2000px;
    top:1.466667rem;
    transition: all .5s linear;
    z-index:300;
    background-color: #2492cd;
    overflow-y:scroll;
    padding-bottom: 200px;
}
#menu::-webkit-scrollbar {
   display: none;/*锟斤拷顡戯拷類诧拷瞰宠敪*/
}
#menu .menuWraper{
    width:100%;
}
#menu .menuWraper .menuContent{
    padding:.586667rem 0 ;
    padding-left: .8rem;
    font-size: 17px;
    color:#ffffff;
    position:relative;
   /* border-bottom:1px solid #66b3dc;*/
}
#menu .menuWraper .menuContent:after{
	content:"";
	display:inline-block;
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	height:1px;
	background-color:#66b3dc;
	
}
#menu .menuWraper .menuContent>.slideName{
    display: block;
    height:100%;
    position: relative;
}
#menu .menuWraper .menuContent>.subMenu{
    padding-left:.48rem;
    height:0px;
    margin-top:.4rem;
    font-size: 16px;
    overflow: hidden;
}
#menu .menuWraper .menuContent>.subMenu>a>li{
    height: 1.226667rem;
    line-height:1.226667rem;
    font-size:16px;
}
#menu .menuWraper .menuContent>.slideName>.icon{
    position: absolute;
    width:.16rem;
    top:50%;
    transform:translateY(-50%);
    -ms-transform:translateY(-50%); 	/* IE 9 */
    -moz-transform:translateY(-50%); 	/* Firefox */
    -webkit-transform:translateY(-50%); /* Safari 锟斤拷锟� Chrome */
    -o-transform:translateY(-50%); 	/* Opera */
    right:3.62667rem;
}
#menu .menuWraper .menuContent>.slideName>.down{
	transform:translateY(-50%) rotate(70deg);
    -ms-transform:translateY(-50%) rotate(70deg); 	/* IE 9 */
    -moz-transform:translateY(-50%) rotate(70deg); 	/* Firefox */
    -webkit-transform:translateY(-50%) rotate(90deg); /* Safari 锟斤拷锟� Chrome */
    -o-transform:translateY(-50%) rotate(70deg); 	/* Opera */
}
#indexPage{
    position: relative;
}
#indexPage a{
	display:inline-block;
	width:70%;
	height:100%;
}
#indexPage>.closeIcon{
    
    position: absolute;
    top:.293333rem;
    right:.293333rem;
    z-index:3000;
    text-align:right;
   
}
#indexPage>.closeIcon>img{
	width:.293333rem;
	height:.293333rem;
	vertical-align:top;
}
.sale-point-des{
	position: absolute;
	z-index: 99;
	left: .533333rem;
	width: 7.466667rem;
	bottom: 1.013333rem;
	padding: .373333rem .533333rem .533333rem .533333rem;
	background:url('../img/mark_point_bg.png');
	background-size: 7.466667rem 100%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	/* display: none; */
}
.sale-point-des p{
	margin:0;
	line-height: 1.5;
	font-size: 14px;
	color: #666;
}
.noScroll{
	height:100%;
	overflow:hidden;
}
