.page-navigation{
	padding: 1rem;
}
#main-container ul{
	padding-left: 0;
	padding-right: 0;
}
#checkChange {
  overflow: hidden;
  padding-top: 10px;
  color:#333;
}
#checkChange .active{
  color:#fff;
  background: #5c80d1;
}
#checkChange li{
  float:left;
  margin-left: 10px;
  border-radius: 15px;
  border: 1px solid #cdcdcd;
  text-align: center;
  padding: 2px 5px;
  cursor:pointer;
  list-style: none;
}
#icons li{
  margin: 10px 20px;
  float: left;
  text-align:center;
  position: relative;
  width:86px;
  height:76px;
  list-style: none;
}
#icons li .iconfont{
    font-size:30px;
}
#icons li .cover{
  width: 100%;
  height: 21px;
  background: #5c80d1;
  position: absolute;
  bottom:0;
  font-size: 14px;
  color:#fff;
  cursor: pointer;
}
#icons li xmp{
  font-size:14px;
  font-family:"microsoft yahei";
  margin-top: 10px;
}
#icons li input {
  opacity:0;
  position: fixed;
  bottom:-30px;
}