<%@ page contentType="text/html; charset=utf-8" %>
<%@include file="/WEB-INF/webpages/doctor/common_top.jsp" %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="something">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title>web2.0-模板</title>
    <!-- 为兼容web1.0头部保留，待2.0頭部完成后將移除-->
    <link href="./web2/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="./web2/assets/css/menu.css" rel="stylesheet" type="text/css" /> 
    <link href="/assets/themify-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/themify-icons-frontend.min.css" rel="stylesheet" type="text/css" />
    <!-- web2.0 核心css-->
    <link rel="stylesheet" id="css-main" href="./web2/assets/css/oneui.css?v=1.3">   
    <!-- plugins 第三方插件css 視情況引入-->
    <link href="./web2/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">  
    <!-- page css-->
    <link href="./web2/css/templet.css" rel="stylesheet">  
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
    	
    </style>
</head>
<body class="ft-middle">
<div id="page-container" class="sidebar-dark page-header-fixed sidebar-o"><!--  sidebar-o -->	 
	 <!-- 主体内容 -->
     <main id="main-container">      
         <div class="content content-narrow">
             <div class="row">
             	<div class="col-lg-12">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">圖標icon</h3></div>
             			<ul id="checkChange">
             				<li class="active">Unicode</li>
             				<li>Font class</li>
             			</ul>
             			<ul id="icons" style="height: 600px;overflow:hidden">
             				<li class="hidden">
             					<span class="iconfont">&#xe641;</span>
             					<xmp class="unicode" ></xmp>
             					<xmp class="clsname hidden"></xmp>
             					<div class="cover hidden">複製</div>
             					<input class="unicode" type="text" value="">
             					<input class="clsname" type="text" value="">
             				</li>
             			
	                    </ul>
             		</div>             		
             	</div>
             	<div class="col-lg-4" >
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">導航菜單</h3></div>
             			<div style="height: 200px;">    
             				<div class="div-scroll">        
	             			<div class="block-content-nav">
		             			<ul class="nav-main">
		                        	<li class="nav-main-item">
			                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">				                               
			                                <span class="nav-main-link-name">菜單1</span>
			                                <span class="nav-main-link-badge">1232</span>
			                            </a>
			                            <ul class="nav-main-submenu">                               
			                                <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單1</span>
					                            </a>		                              
			                                </li>
			                                <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單2</span>
					                            </a>		                              
			                                </li>	
			                                 <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單1</span>
					                            </a>		                              
			                                </li>
			                                <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單2</span>
					                            </a>		                              
			                                </li>	
			                                 <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單1</span>
					                            </a>		                              
			                                </li>
			                                <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單2</span>
					                            </a>		                              
			                                </li>					                             					                               	                              		                               			                             	                            
			                            </ul>				                         
			                        </li>	
			                        <li class="nav-main-item">
			                            <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">				                               
			                                <span class="nav-main-link-name">菜單2</span>
			                                <span class="nav-main-link-badge">232</span>
			                            </a>
			                            <ul class="nav-main-submenu">
			                             		 <li class="nav-main-item">
			                                	<a class="nav-main-link"  href="#">			                             
					                                <span class="nav-main-link-name">子菜單1</span>
					                            </a>		                              
			                                </li>
			                                <li class="nav-main-item">
			                                	<a class="nav-main-link" href="#">			                             
					                                <span class="nav-main-link-name">子菜單2</span>
					                            </a>		                              
			                                </li>			                             					                               	                              		                               	                             	                            
			                            </ul>				                         
			                        </li>			                        			                        
		                        </ul>
		             		</div>
		             		</div> 
	             		</div>
             		</div>            
             	</div>
             	
             	<div class="col-lg-4">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">搜索框組件-searchInput</h3></div>
             			<div class="p-3"  style="height: 200px;">
	                    	 <input id="search-club-user" type="text" class="form-control invisible" placeholder="姓名/帳號/手機號碼/身分...">                         		
	                    </div>	                                  
             		</div>             		
             	</div>
             	
             	<div class="col-lg-4">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">滚动条美化-slimScroll</h3></div>
             			<div class="p-3"  style="height: 200px;">
	                    	   <div class="div-scroll">
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   		<p>内容比较长</p>
	                    	   </div>                    		
	                    </div>
             		</div>             		
             	</div>
             	
             	<div class="col-lg-6">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">日期选择-dateSelect</h3></div>
             			<div style="height: 400px;">             				
             			    <div class="pl-3 text-warning">日期选择：</div>  
             			    <div class="p-3">
	             			    <div class="input-range">             					
		                        	<div class="custom-input-group date-select-example" style="width: 13rem;">
		                        		<input id="" type="text" readonly="readonly" class="form-control form-control-rounded" value="2018年11月11日" placeholder="开始日期">
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-31"></i></div>
		                        	</div>  
		                        	&nbsp; - &nbsp;                       		
		                        	<div class="custom-input-group date-select-example" style="width: 13rem;">
		                        		<input id="" type="text" readonly="readonly" class="form-control form-control-rounded" value="2018年11月11日" placeholder="结束日期">
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-31"></i></div>
		                        	</div>  	                        
	             				</div>	   
             			    </div>     
             			    <div class="pl-3 text-warning">日期时间选择：</div>  
             			    <div class="p-3">
	             			    <div class="input-range">             					
		                        	<div class="custom-input-group datetime-select-example" style="width: 13rem;">
		                        		<input id="" type="text" readonly="readonly" class="form-control form-control-rounded" value="" placeholder="开始时间">
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-31"></i></div>
		                        	</div>  
		                        	&nbsp; - &nbsp;                       		
		                        	<div class="custom-input-group datetime-select-example" style="width: 13rem;">
		                        		<input id="" type="text" readonly="readonly" class="form-control form-control-rounded" value="" placeholder="结束时间">
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-31"></i></div>
		                        	</div>  	                        
	             				</div>	   
             			    </div>      			
             				<div class="text-center col-12 pt-3">
	                        	 <div class="p-3">			                    	
			                    	<button id="date_select_show" type="button" class="btn btn-rounded btn-outline-primary mb-4">js打开</button>
			                    	<button id="date_select_set" type="button" class="btn btn-rounded btn-outline-primary mb-4">js设置日期</button><br>
			                    	<button id="date_select_reset" type="button" class="btn btn-rounded btn-outline-default mb-4">重置</button>
			                    	<button id="date_select_hasError" type="button" class="btn btn-rounded btn-success mb-4">设置错误提示</button> 
			                    	<button id="date_select_cancleError" type="button" class="btn btn-rounded btn-outline-primary mb-4">取消错误提示</button> 
			                    	<button id="date_select_getMs" type="button" class="btn btn-rounded btn-primary mb-4">獲取時間戳</button>  
			                    </div>
		                    </div>                	
                        	<div class="pl-3 text-warning">
                        		*该组件基于第三方插件bootstrap-datepicker改造，需引入改造后的插件使用，原插件方法可继续使用如：js打开、js设置日期 等<br>
                        		*新方法则使用改造后插件调用如：重置、设置错误提示、取消错误提示等
                        	</div>                         		
	                    </div>	     
             		</div>             		
             	</div>
             	
             	<div class="col-lg-6">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">时间选择-timeSelect</h3></div>
             			<div class="row"  style="height: 400px;">
             				<div class="col-6">
             					<div class="pl-3 text-warning">默認：</div>
	             				<div class="p-3">
		                        	<div id="time_select_example1" class="custom-input-group" style="width: 8rem;">
		                        		<input type="text" readonly="readonly" class="form-control form-control-rounded" value="" placeholder="00:00">	    
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-2"></i></div>  	                        		               		
		                        	</div>  
	                        	</div> 
             				</div>
             				<div class="col-6">
	                        	<div class="pl-3 text-warning">自定義設置（不自動關閉）：</div>
	             				<div class="p-3">
		                        	<div id="time_select_example2" class="custom-input-group" style="width: 8rem;">
		                        		<input type="text" readonly="readonly" class="form-control form-control-rounded" value="" placeholder="00:00">	    
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-2"></i></div>  	                        		               		
		                        	</div>  
	                        	</div>
                        	</div> 
                        	<div class="col-6">
	                        	<div class="pl-3 text-warning">可選擇日期：</div>
	             				<div class="p-3">
		                        	<div id="time_select_example3" class="custom-input-group" style="width: 12rem;">
		                        		<input type="text" readonly="readonly" class="form-control form-control-rounded" value="" placeholder="請選擇">	    
		                        		<div class="custom-input-append"><i class="iconfont icon-icon-2"></i></div>  	                        		               		
		                        	</div>  
	                        	</div>	                        	
		     				</div>
                        	 <div class="text-center col-12 pt-3">
	                        	 <div class="p-3">
			                    	<button id="time_select_reset" type="button" class="btn btn-rounded btn-outline-default mb-4">重置</button>
			                    	<button id="time_select_show" type="button" class="btn btn-rounded btn-outline-primary mb-4">js打开</button>
			                    	<button id="time_select_hide" type="button" class="btn btn-rounded btn-outline-primary mb-4">js关闭</button><br>
			                    	<button id="time_select_getTime" type="button" class="btn btn-rounded btn-primary mb-4">js获取时间戳</button>
			                    	<button id="time_select_setTime" type="button" class="btn btn-rounded btn-primary mb-4">設置時間</button>
			                    	<button id="time_select_setDate" type="button" class="btn btn-rounded btn-primary mb-4">js设置日期</button>
			                    	<button id="time_select_setBetween" type="button" class="btn btn-rounded btn-primary mb-4">設置起止時間</button><br>
			                    	<button id="time_select_hasError" type="button" class="btn btn-rounded btn-success mb-4">设置错误提示</button> 
			                    	<button id="time_select_cancleError" type="button" class="btn btn-rounded btn-outline-primary mb-4">取消错误提示</button>   
			                    	<button id="time_select_change" type="button" class="btn btn-rounded btn-outline-primary mb-4">綁定change事件</button> 
			                    </div>
		                    </div>
             			</div>
             		</div>
             	</div>
             	
             	<div class="col-lg-4">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">下拉选择-customSlect</h3></div>
             			<div style="height: 400px;">
             				<div class="pl-3 text-warning">默認：</div>
             				<div class="p-3">
		                    	<select id="web2-select-rounded" class="web2-select hidden">
	                				<option value="">請選擇</option>
	             					<option value="1">量測項目1</option>
	             					<option value="2">量測項目2很長很長很長很長很長很長</option>
	             					<option value="3">量測項目3</option>
	                			</select>	           		
		                    </div>
		                    <div class="pl-3 text-warning">方角：</div>
		                    <div class="p-3">
		                    	<select id="web2-select" class="web2-select hidden">	                			
	             					<option value="1">選項1</option>
	             					<option value="2">選項2</option>
	             					<option value="3">選項3</option>
	                			</select>	           		
		                    </div>
		                    <div class="pl-3 text-warning">自定義設置(默認顯示內容，寬度自適應，下拉高度)：</div>
		                    <div class="p-3">
		                    	<select id="web2-select-custom" class="web2-select hidden">	               				
	             					<option value="">請選擇</option>
	             					<option value="1">sdfsdfsfsdfsfd</option>
	             					<option value="2">選項水電費的說法電方</option>
	             					<option value="3">選項的地方都是雙方都房東發都</option>
	             					<option value="4">選項1111</option>
	             					<option value="5">選項水電費的說法電方</option>
	             					<option value="6">選項的地方都是雙方都房東發都</option>
	             					<option value="7">選項1111</option>
	             					<option value="8">選項水電費的說法電方</option>
	             					<option value="9">選項的地方都是雙方都房東發都</option>
	                			</select>	 	                			        		
		                    </div>
		                    <div class="clearfix"></div>
		                    <div class="pt-3 text-center">
		                    	<button id="select_reset" type="button" class="btn btn-rounded btn-outline-default mb-4">重置</button>
		                    	<button id="select_confrim" type="button" class="btn btn-rounded btn-outline-primary mb-4">確定</button>
		                    	<button id="select_set_val" type="button" class="btn btn-rounded btn-outline-primary mb-4">js設置為選項2</button>
		                    	<button id="select_validate" type="button" class="btn btn-rounded btn-primary mb-4">js校驗</button>
		                    </div>
             			</div>            			
             		</div>             		
             	</div>
             	
             	<div class="col-lg-8">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">按鈕-button</h3></div>
             			<div style="height: 400px;">
             				<div class="p-3">
             					<button id="" type="button" class="btn btn-rounded btn-outline-default">按鈕</button>
			                    <button id="" type="button" class="btn btn-rounded btn-outline-primary">按鈕</button>   
			                    <button id="" type="button" class="btn btn-rounded btn-primary">按鈕</button> 
			                    <button id="" type="button" class="btn btn-rounded btn-success">按鈕</button>          		        		
             				</div>
	                    	<div class="p-3">
             					<button id="" disabled="disabled" type="button" class="btn btn-rounded btn-outline-default">按鈕</button>
			                    <button id="" disabled="disabled" type="button" class="btn btn-rounded btn-outline-primary">按鈕</button>   
			                    <button id="" disabled="disabled" type="button" class="btn btn-rounded btn-primary">按鈕</button>  
			                    <button id="" disabled="disabled" type="button" class="btn btn-rounded btn-success">按鈕</button>          		        		
             				</div>
             				<div class="p-3">
             					<button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-outline-default">按鈕</button>
			                    <button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-outline-primary">按鈕</button>   
			                    <button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-primary">按鈕</button>   
			                    <button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-success">按鈕</button>        		        		
             				</div>
	                    </div>
             		</div>             		
             	</div>             	
             	
             	
             	<div class="col-lg-12">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">分頁-customPagenav</h3></div>
             			<div class="p-2" style="height: 250px;">
             				<div class="mb-0 pl-3 text-warning">默认:</div>
             				<div id="pagination_bar"></div>
             				<div class="mb-0 pl-3 text-warning">可设置在中间,不要共多少页和跳至多少页：</div>
             				<div id="pagination_bar_center"></div>
             				<div class="mb-0 pl-3 text-warning">左边：</div>
             				<div id="pagination_bar_left"></div>
	                    </div>
             		</div>             		
             	</div>
             				  
             	<div class="col-lg-8">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">block異步加載容器-customLoader</h3></div>
             			<div id="block_loader_example" class="block-loader loaded" style="min-height: 300px;height: 300px;">	                    	  
     	 					<div class="loading-icon text-info"><i class="fa fa-circle-notch fa-spin"></i></div> 
	           				<div class="no-data-tip">
	           					<img alt="" src="/images/no_data.png">
	           					<h4>沒有數據</h4>
	           					<button id="" onclick="" type="button" class="btn btn-rounded btn-rounded-lg btn-success">去添加</button>
	           				</div>
     	 					<div id="" class="loaded-content p-3 h-100"> 
     	 						<div class="d-flex flex-row justify-content-center align-items-center h-100">
   	 								<button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-outline-default mr-4">沒數據</button>
    	 							<button id="" type="button" class="btn btn-rounded btn-rounded-lg btn-primary">加載中</button><br>
     	 						</div>             	 				      	 					
     	 					</div>       					           		
	                    </div>
             		</div>             		
             	</div>
             	
             	  <div class="col-lg-4">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">box異步加載容器-customLoader</h3></div>
             			<div id="box_loader_example" class="box-loader loaded" style="min-height: 300px;height: 300px;">	                    	  
     	 					<div class="text-center text-info loading-icon"><i class="fa fa-fw fa-circle-notch fa-spin"></i></div>
     	 					<div class="text-center text-gary no-data-tip"><i class="fa fa-search"></i>&nbsp;未找到相關數據...</div>
     	 					<div id="" class="loaded-content p-3 h-100">  
     	 						<div class="d-flex flex-row justify-content-center align-items-center h-100">
	     	 						<button id="" type="button" class="btn btn-rounded btn-outline-default mr-4">沒數據</button>
	      	 						<button id="" type="button" class="btn btn-rounded btn-primary">加載中</button><br>
     	 						</div>            	 				     	 					
     	 					</div>       					           		
	                    </div>
             		</div>             		
             	</div>
				 <div class="col-lg-4">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">自定義提示窗-customAlert</h3></div>
             			<div class="" style="height: 300px;">	   
             			 	<div class="pl-3 text-warning">默認：</div>                 	       	 					
     	 					<div class="text-center p-3">              	 				      	 						
      	 						<button id="default_alert" type="button" class="btn btn-rounded btn-primary">alert</button>
      	 						<button id="default_confrim" type="button" class="btn btn-rounded btn-success">confrim</button>
     	 					</div>   
     	 					<div class="pl-3 text-warning">自定義按鈕文案：</div>                 	       	 					
     	 					<div class="text-center p-3">              	 				      	 						
      	 						<button id="alert_example_1" type="button" class="btn btn-rounded btn-primary">alert</button>
      	 						<button id="confrim_example_1" type="button" class="btn btn-rounded btn-success">confrim</button>
     	 					</div>  
     	 					<div class="pl-3 text-warning">自定義按鈕點擊執行內容：</div>                 	       	 					
     	 					<div class="text-center p-3">              	 				      	 						
      	 						<button id="alert_example_2" type="button" class="btn btn-rounded btn-primary">alert</button>
      	 						<button id="confrim_example_2" type="button" class="btn btn-rounded btn-success">confrim</button>
     	 					</div>      					           		
	                    </div>
             		</div>             		
             	</div>
             	
             	<div class="col-lg-8">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">單行輸入框帶校驗-customValidator</h3></div>
             			<div class="p-3"  style="height: 300px;">
             				 <div class="pl-3 text-warning">默认：可设置字数校验，非空校验：</div>    
	                    	 <div class="p-3" style="width: 28rem;">
	                    	 	<input id="input_validate_example1" type="text" class="form-control" placeholder="不超過8個字"> 
	                    	 </div> 
	                    	 <div class="pl-3 text-warning">自定义：可设置校验提示信息</div>    
	                    	 <div class="p-3" style="width: 28rem;">
	                    	 	<input id="input_validate_example2" type="text" class="form-control" placeholder="6-8位數字"> 
	                    	 </div>  
	                    	 <div class="pl-3 mb-4">
	                    	 	<button id="validate_btn" type="button" class="btn btn-rounded btn-primary mr-2">js觸發校驗</button> 
	                    	 	<button id="reset_btn" type="button" class="btn btn-rounded btn-primary">重置</button>     	 					
	                    	 </div>  	                   	                    	                         		
	                    </div>	  	                                                  
             		</div>             		
             	</div>
             	
             	<div class="col-lg-12">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">多行輸入框-multilineInput</h3></div>
             			<div class="p-3"> 
	             			<div class="row"> 
	             			     <div class="col-lg-6"> 
		             			     <div class="pl-3 text-warning">默认：高度可变，最多显示4行</div>    	                    	 
			                    	 <div class="p-3" style="width: 25rem;">	                 	 	
		                    	 		<div id="multiline_input_example1"></div>                   	 		                    	 	
			                    	 </div> 
			                    	 <div class="pl-3 text-warning">自定义：固定显示行数</div>    	                    	 
			                    	 <div class="p-3" style="width: 25rem;">	                 	 	
		                    	 		<div id="multiline_input_example4"></div>                   	 		                    	 	
			                    	 </div> 
			                    	 <div class="pl-3 text-warning">自定义：获取焦点和失去事件</div>    	                    	 
			                    	 <div class="p-3" style="width: 25rem;">	                 	 	
		                    	 		<div id="multiline_input_example3"></div>                   	 		                    	 	
			                    	 </div> 			                    	
	             			     </div>     		
		                    	 <div class="col-lg-6"> 
		                    	  	 <div class="pl-3 text-warning">自定义：设置最多显示6行、设置最大输入字数校验、设置非空检验</div>    	                    	 
			                    	 <div class="p-3" style="width: 25rem;">	                 	 	
		                    	 		<div id="multiline_input_example2"></div>                  	 		                    	 	
			                    	 </div> 
			                    	 <div class="text-center mt-4">
			                    	 	<button id="multiline_val" type="button" class="btn btn-rounded btn-primary mr-4 mb-4">js赋值</button> 
			                    	 	<button id="multiline_btn" type="button" class="btn btn-rounded btn-primary mr-4 mb-4">js觸發校驗</button> 
			                    	 	<button id="multiline_text" type="button" class="btn btn-rounded btn-primary mr-4 mb-4">获取输入文本</button> 
			                    	 	<button id="multiline_html" type="button" class="btn btn-rounded btn-primary mr-4 mb-4">获取输入的html文本</button> 
			                    	 	<button id="multiline_reset" type="button" class="btn btn-rounded btn-primary mr-4 mb-4">重置</button>   	 					
			                    	</div>  
		                    	 </div> 
		                    </div> 		                                     		
	                    </div>		                   	  	                                                  
             		</div>             		
             	</div>
				
				<div class="col-lg-5">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">可输入下拉选择插件-selectAndInput</h3></div>
             			<div style="height: 400px;">
             				<div class="pl-3 text-warning">默認：</div>
             				<div class="p-3">
		                    	<select id="input_select_example1" class="hidden">	
		                    		<option value="all">量測項目</option>                				
	             					<option value="1">量測項目1</option>
	             					<option value="2">量測項目2很長很長很長很長很長很長</option>
	             					<option value="3">量測項目3</option>
	                			</select>	           		
		                    </div>
		                    <div class="pl-3 text-warning">設置選項可刪除：</div>
		                    <div class="p-3">
		                    	<select id="input_select_example2" class="hidden">	                			
	             					<option value="1">選項1</option>
	             					<option value="2">選項2</option>
	             					<option value="3">選項3</option>
	                			</select>	           		
		                    </div>
		                    <div class="pl-3 text-warning">自定義呈現設置(placeholder，寬度自適應 等)：</div>
		                    <div class="p-3">
		                    	<select id="input_select_example3" class="hidden">	               					             					
	             					<option value="1">選項1111</option>
	             					<option value="2">選項水電費的說法電方</option>
	             					<option value="3">選項的地方都是雙方都房東發都</option>
	             					<option value="4">選項1111</option>
	             					<option value="5">選項水電費的說法電方</option>
	             					<option value="6">選項的地方都是雙方都房東發都</option>
	             					<option value="7">選項1111</option>
	             					<option value="8">選項水電費的說法電方</option>
	             					<option value="9">選項的地方都是雙方都房東發都</option>
	                			</select>	 	                			        		
		                    </div>
		                    <div class="clearfix"></div>
		                    <div class="pt-3 text-center">
		                    	<button id="select_input_reset" type="button" class="btn btn-rounded btn-outline-default mb-4">重置</button>
		                    	<button id="select_input_get" type="button" class="btn btn-rounded btn-outline-primary mb-4">js獲取值</button>
		                    	<button id="select_input_new" type="button" class="btn btn-rounded btn-outline-primary mb-4">js驗證是是否為新的值</button>
		                    	<button id="select_input_set" type="button" class="btn btn-rounded btn-outline-primary mb-4">js設置值</button>
		                    	<button id="select_input_validate" type="button" class="btn btn-rounded btn-primary mb-4">js校驗</button>
		                    </div>
             			</div>            			
             		</div>             		
             	</div>
             	
             	<div class="col-lg-5">
             		<div class="block block-themed">
             			<div class="block-header block-header-default"><h3 class="block-title">多选下拉选择组件-multipleSelect</h3></div>
             			<div style="height: 400px;">
             				<div class="pl-3 text-warning">默認：</div>
             				<div class="p-3">
		                    	<select id="multiple_select_example1" class="hidden">	
		                    		<option value="all">量測項目</option>                				
	             					<option value="1">量測項目1</option>
	             					<option value="2">量測項目2很長很長很長很長很長很長</option>
	             					<option value="3">量測項目3</option>
	                			</select>	           		
		                    </div>	
		                    <div class="pl-3 text-warning">自定义呈现设置：</div>
             				<div class="p-3">
		                    	<select id="multiple_select_example2" class="hidden">	
		                    		<option value="all">量測項目</option>                				
	             					<option value="1">量測項目1</option>
	             					<option value="2">量測項目2很長很長很長很長很長很長</option>
	             					<option value="3">量測項目3</option>
	                			</select>	           		
		                    </div>		                  		                    
		                   <div class="clearfix"></div>
		                    <div class="pt-3 text-center">
		                    	<button id="multiple_select_reset" type="button" class="btn btn-rounded btn-outline-default mb-4">重置</button>
		                    	<button id="multiple_select_get" type="button" class="btn btn-rounded btn-outline-primary mb-4">js獲取值</button>
		                    	<button id="multiple_select_set" type="button" class="btn btn-rounded btn-outline-primary mb-4">js設置值</button>
		                    	<button id="multiple_select_validate" type="button" class="btn btn-rounded btn-primary mb-4">js校驗</button>
		                    </div>
             			</div>            			
             		</div>             		
             	</div>
				
             </div>          
         </div>      
     </main>
     <!-- END 主体内容 -->
     <br> <br> <br> <br>
    <!--  <div class="time-options" style="top:50%;left: 50%;">
     	<div class="time-options-header">
     		<div>時</div><div>分</div>
     	</div>
     	<div class="time-options-body">
     		<div class="hour-list">
     			<ul class="option-list">
     				<li>00</li>
     				<li>01</li>
     				<li>02</li>
     				<li>03</li>
     				<li>04</li>
     				<li>05</li>
     			</ul>
     		</div>    		
     		<div class="minute-list">
     			<ul class="option-list">
     				<li>00</li>
     				<li>01</li>
     				<li>02</li>
     				<li>03</li>
     				<li>04</li>
     				<li>05</li>
     			</ul>
     		</div>
     	</div>
     </div>    -->
     <!--  <div id="toast-container" class="toast-top-right">
	      <div class="toast toast-info" aria-live="assertive">
	      	<div class="toast-message">个风格的股份的电</div>
	      </div>
      </div> -->
</div>
<!-- <div class="time-options with-date iconfont" style="top: 1257.23px; left: 777.484px;">
  	<div class="date-options-header">
  		<div class="prev">&#xe61d;</div>
  		<div class="view-date">2019/06/18</div>
  		<div class="next">&#xe61b;</div>
  	</div>
  	<div class="time-options-header">
  		<div>時</div><div>分</div>
  	</div>
  	<div class="time-options-body">
  		sdjflkd
  	</div>
</div>  -->
<!-- App js -->
<script src="./web2/assets/js/oneui.core.min.js?v=1.2"></script>
<script src="./web2/assets/js/oneui.app.min.js"></script>
<!-- plugins js 第三方插件視情況引入-->
<script src="./web2/assets/js/wangEditor.js?v=1.1"></script>
<script src="./web2/assets/js/bootstrap-datepicker.min.js"></script>
<script src="./web2/assets/js/bootstrap-datepicker.zh-TW.min.js"></script>
<!-- 必备基础 js -->
<script src="./web2/assets/plugins/customPlugin.js?v=3.8"></script>
<script src="./basic.js"></script>
<!-- page js -->
<script src="./web2/js/page/templet.js?v=1.6"></script>
</body>
</html>